<html>
<head>
<meta charset="utf-8">
<title>Register</title>
<link href="..\static\css\signup.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "28378cac-2276-4a28-8b4a-b60ad3b6cf4c", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "1970e6fb-5cd5-41ae-9ff3-b10f36e2cf34", // The ID of your service instance.
          onLoad: function (instance) {
            instance.render();
          },
        };
        setTimeout(function () {
          const t = document.createElement("script");
          t.src =
            "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" +
            (window.watsonAssistantChatOptions.clientVersion || "latest") +
            "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
 <!--container---------------------->
<div class="container" >
 <!--sign-up-box-container--->

 <!--heading-->
 <form action="/register" method="post">
 <h1 class="heading">Register</h1>
 <!--name-box-->
 <div class="text">
 <img height="20px" src="..\static\images\user.png" />
 <input placeholder="Name" type="text" name="username"/>
 </div>
 <!--Email-box-->
 <div class="text">
 <img height="12px" src="..\static\images/email.png" />
 <input placeholder=" Example@gmail.com" type="email" name="email"" />
 </div>
 <!--Password-box-->
 <div class="text">
 <img height="20px" src="..\static\images\password.png" />
 <input placeholder=" Password" type="password" name="password"/>
 </div>

 
 
<!--trems-->


<!--button--> 
<div class="toop">
<button type="submit" class="btn btn-primary" >CREATE ACCOUNT</button> </div>

</form>
<!--sign-in-->

<div class="t"><p class="conditions" id="p3">Already have an account <a href="/login">Sign in</a></p> </div></div>
 </div>
<!--text-container-->
<div class="text-container">
    
 


 
 </div>
 </div>
</body>
</html>